name: size and check version
on: [pull_request]
jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      # - uses: actions/checkout@v2
      # - name: verify-version
      #   uses: actions-cool/verify-package-version@v1
      #   with:
      #     title-include-content: 'docs'
      #     title-include-version: true
      #     open-comment: true
